.top {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-image: linear-gradient(90deg, rgba(65, 164, 253, 1), rgba(14, 244, 255, 1));
  color: #fff;
  overflow: hidden;
  padding: 200px;
}

.avatar {
  width: 250px;
  height: 250px;
}

.title {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1rem;
  animation: slideIn 1s cubic-bezier(0.25, 1, 0.5, 1) forwards;
}

@keyframes slideIn {
  0% {
    transform: translateX(180px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
  }
  40%,
  100% {
    opacity: 1;
  }
}

.description {
  text-align: center;
  opacity: 0;
  animation: fadeIn 0.7s cubic-bezier(0.33, 1, 0.68, 1) 1s forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.bgimg {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 600px;
  object-fit: cover;
  object-position: right;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -1;
}

.links {
  position: relative;
  background-color: #fff;
  width: 840px;
  margin: -40px auto 0;
  padding: 24px 40px;
  border-radius: var(--border-radius);
}

.linksTitle {
  font-size: 1.5rem;
}

.linkContents {
  display: flex;
  justify-content: space-around;
}

.skills {
  position: relative;
  background-color: #fff;
  width: 840px;
  margin: -20px auto 20px;
  padding: 24px 40px;
  border-radius: var(--border-radius);
}

.skillsTitle {
  font-size: 1.5rem;
}

.skillsLink {
  position: absolute;
  right: -40px;
  bottom: -40px;
}

.skillsSentence {
  margin-bottom: 10px;
}

.section {
  width: 920px;
  margin: 0 auto;
  padding: 100px 0;
}

.sectionTitleEn {
  font-size: 3rem;
  font-weight: bold;
}

.sectionTitleJa {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 40px;
}

.sectionTitleJa::before {
  content: '';
  display: block;
  height: 1px;
  width: 40px;
  background-color: var(--color-text-main);
}

.sectionSlogan {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.sectionDescription {
  margin-bottom: 40px;
}

.sectionCareer {
  margin-bottom: 20px;
}

.sentence {
  text-indent: 1em;
}

.horizontal {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 80px;
}

.businessImg {
  width: 400px;
  height: auto;
  border-radius: var(--border-radius);
}

.button {
  display: block;
  padding: 20px 40px;
  border-radius: var(--border-radius);
  width: 300px;
  background: url('/arrow-right.svg') no-repeat right 20px center, var(--color-button-primary);
  color: var(--color-text-unpainted);
}

.whiteArea {
  background-color: #fff;
}

.careerImg {
  width: 100%;
  height: auto;
  margin-left: -60%;
  border-radius: var(--border-radius);
}

.career {
  display: flex;
  border-bottom: 1px solid var(--color-border);
  padding: 10px 0;
}

.careerDay {
  width: 100px;
  font-weight: bold;
}

.careerDescription {
  flex: 1;
}

.hiringImg {
  width: 480px;
  height: auto;
  border-radius: var(--border-radius);
}

@media (max-width: 1000px) {
  .links {
    width: calc(100% - 160px);
  }

  .skills {
    width: calc(100% - 160px);
  }

  .section {
    width: calc(100% - 80px);
  }
}

@media (max-width: 640px) {
  .top {
    flex-direction: column;
    padding: 100px 16px;
  }

  .avatar {
    margin-bottom: 16px;
  }

  .title {
    font-size: 2rem;
    text-align: left;
  }

  .description {
    text-align: center;
    font-size: 0.9rem;
    text-align: left;
  }

  .bgimg {
    position: absolute;
    top: 0;
    right: 0;
    width: auto;
    height: 600px;
    object-fit: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -1;
  }

  .links {
    width: calc(100% - 32px);
    padding: 16px 24px;
  }

  .skills {
    width: calc(100% - 32px);
    padding: 16px 24px;
  }

  .skillsLink {
    position: relative;
    right: auto;
    bottom: auto;
    margin-top: 16px;
  }

  .section {
    width: 100%;
    margin: auto;
    padding: 80px 16px;
  }

  .sectionTitleEn {
    font-size: 2.4rem;
    font-weight: bold;
  }

  .sectionTitleJa {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 40px;
  }

  .sectionTitleJa::before {
    content: '';
    display: block;
    height: 1px;
    width: 40px;
    background-color: var(--color-text-main);
  }

  .sectionDescription {
    margin-bottom: 40px;
  }

  .horizontal {
    display: flex;
    flex-direction: column-reverse;
    gap: 40px;
  }

  .businessImg {
    width: 100%;
    height: auto;
  }

  .careerImg {
    width: 100%;
    height: auto;
    margin-left: 0;
  }

  .hiringImg {
    width: 100%;
    height: auto;
  }

  .button {
    display: block;
    padding: 16px 24px;
    border-radius: var(--border-radius);
    width: 100%;
    background: url('/arrow-right.svg') no-repeat right 20px center, var(--color-button-primary);
    color: var(--color-text-unpainted);
  }
}
